<div class="profile_content">
  <div class="information_of_user" *ngIf="profileInfo">
    <ul>
      <li>
        <img class="own_avatar"
        src="http://www.prodbackend.com/img/{{profileInfo.avatar}}">
      </li>
      <li>
        <h4>
          {{ profileInfo.username }}
        </h4>
      </li>
      <li>
        <h4>
          {{ profileInfo.email }}
        </h4>
      </li>
      <li>
        <h4>
          {{ profileInfo.status }}
        </h4>
      </li>
    </ul>
  </div>
</div>
