<div class="content">
  <mat-card class="idea-card">
    <mat-card-header>
        <div mat-card-avatar class="idea-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/img/website_pic.jpg" alt="Photo of an idea">
    <mat-card-content>
      <p>
        I have an idea where people could... Read more
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>COMMENT</button>
      <button mat-button>RATE</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="idea-card">
    <mat-card-header>
      <div mat-card-avatar class="idea-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/img/lightning.jpg" alt="Photo of an idea">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original... Read more
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>COMMENT</button>
      <button mat-button>RATE</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="idea-card">
    <mat-card-header>
      <div mat-card-avatar class="idea-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/img/lightning.jpg" alt="Photo of an idea">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original... Read more
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>COMMENT</button>
      <button mat-button>RATE</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="idea-card">
    <mat-card-header>
      <div mat-card-avatar class="idea-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/img/lightning.jpg" alt="Photo of an idea">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original... Read more
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>COMMENT</button>
      <button mat-button>RATE</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="idea-card">
    <mat-card-header>
      <div mat-card-avatar class="idea-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/img/lightning.jpg" alt="Photo of an idea">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original... Read more
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>COMMENT</button>
      <button mat-button>RATE</button>
    </mat-card-actions>
  </mat-card>
</div>