.content{
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    align-content: flex-start;
}

.newIdea{
    padding-left: 7%;
    padding-top: 5%;
}

.idea-card {
    width: 20%;
}

.idea-header-image {
    background-size: cover;
}

.mat-card-title{
    font-size: 16px;
}

.mat-card-subtitle{
    font-size: 12px;
}

.rating{
    color: rgb(0, 117, 59) !important;
    display: inline-block;
}

.mat-card {
    margin: 2%;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.671);
    font-family: "Montserrat", Sans-serif;
}

.content{
    padding: 5%;
}

.default_prof_pic{
    display: inline-block;
}

.form-control{
    margin-top: 2%;
}

.newIdeaPostClass{
    width: 40%;
}

.create_post{
    margin-top: 2%;
}

.upvotedRating{
    color: green;
}