.idea-card {
    width: 20%;
}

.idea-header-image {
    background-image: url('../../assets/img/engineer_pic.jpg');
    background-size: cover;
}

.mat-card {
    margin: 2%;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.671);
    font-family: "Montserrat", Sans-serif;
}

.content{
    padding: 5%;
}
