<div>
  <div class="signup_container">
    <div class="page_title">
      <h1>Sign up</h1>
    </div>
    <form  [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">You have to give an email</div>
            </div>
            <span class="text-danger" *ngIf="errorMessage">{{errorMessage.email}}</span>
            <div *ngIf="tooManyCharEmail" class="text-danger">
                <div>The email has to be less than 31 characters</div>
            </div>
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }"/>
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">You have to give a username</div>
            </div>
            <div *ngIf="tooManyCharUsername" class="text-danger">
                <div>The username has to be less than 31 characters</div>
            </div>
        </div>
        <div class="form-group">
          <label for="country">Country</label>
          <select class="form-control" formControlName="country">
            <option>Choose a country...</option>
            <option *ngFor="let country of countryList">{{ country.name }}</option>
          </select>
          <div *ngIf="countryWrong" class="text-danger">
              <div>Choose a country</div>
          </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">You have to give a password</div>
            </div>
            <span class="text-danger" *ngIf="errorMessage">{{errorMessage.password}}</span>
        </div>
        <div class="form-group">
            <label for="password_confirmation">Confirm password</label>
            <input type="password" formControlName="password_confirmation" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password_confirmation.errors }"/>
            <div *ngIf="submitted && f.password_confirmation.errors" class="invalid-feedback">
                <div *ngIf="f.password_confirmation.errors.required">You have to give a password</div>
            </div>
        </div>
        <div class="form-group signup_form_group">
            <button [disabled]="loading" class="btn btn-block custom_btn">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Sign up
            </button>
        </div>
    </form>
  </div>
</div>