<div class="newPostContainer">
  <button type="button" class="btn btn-primary" (click)="newPostButton()">New post</button>
  <form *ngIf="newPost" [formGroup]="newPostForm" (ngSubmit)="onSubmit()" class="newPostClass">
    <div class="form-group">
      <textarea type="text" placeholder="Your post text" 
        formControlName="postText" id="postText" rows="5" 
        class="form-control" [ngClass]="{ 'is-invalid': submitted && f.postText.errors }">
      </textarea>
      <div *ngIf="submitted && f.postText.errors" class="invalid-feedback">
        <div *ngIf="f.postText.errors.required">You have to write a description</div>
      </div>
      <input type="text" formControlName="postCategory" 
            class="form-control" placeholder="Categories"
            [ngClass]="{ 'is-invalid': submitted && f.postCategory.errors }"/>
      <div *ngIf="submitted && f.postCategory.errors" class="invalid-feedback">
        <div *ngIf="f.postCategory.errors.required">You have to give at least one category</div>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-primary create_post">Create</button>
    </div>
  </form>
</div>

<div class="content">
  <mat-card class="post-card" *ngFor="let post of postList" id="{{ post.id }}">
    <mat-card-header>
      <div *ngIf="adminOrMod" class="adminDeleteDiv">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-light" data-toggle="modal" 
        attr.data-target="#deleteConfirmModal-{{post.id}}">
          x
        </button>
        <!-- Modal -->
        <div class="modal fade" id="deleteConfirmModal-{{post.id}}" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Delete post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeButton-{{post.id}}">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Are you sure you want to delete this post?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" (click)="deletePost(post.id, post.user_id)">Delete post</button>
              </div>
            </div>
          </div>
        </div>
      </div>
        <img mat-card-avatar class="post-header-image"
        src="http://www.prodbackend.com/img/{{post.user.avatar}}">
        <mat-card-title>
          <a [routerLink]="['../profile', post.user.id]">
            {{ post.user.username }}
          </a>
        </mat-card-title>
        <mat-card-subtitle>{{ post.user.status }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{ (post.text.length > 200) ? (post.text | slice:0:200) + '...' : (post.text) }}
      </p>
      <p class="categories">
        {{ (post.category.length > 70) ? (post.category | slice:0:70) + '...' : (post.category) }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button [routerLink]="['./', post.id]">COMMENT</a>
    </mat-card-actions>
  </mat-card>
</div>