<div>
  <ul>
      <li>
          <a class="nav-link">
              <i class="fas fa-user mx-2"></i> 
              <span class="clearfix d-none d-sm-inline-block gray-gradient font-weight-bold">
                  
              </span>
          </a>
      </li>
      <li>
        <h5 class="blue-text pb-2"><strong></strong></h5>
      </li>
      <li>
        <h5 class="blue-text pb-2"><strong></strong></h5>
      </li>
      <li>
          <button class="btn btn-outline-danger btn-rounded btn-block z-depth-0 waves-effect"
            (click)="logout()">
            Sign out
          </button>
      </li>                   
  </ul>
</div>