<div class="whole_content">
  <div class="landing_content">
    <div class="left_side row">
      <div class="col">
        <h1 class="power_text">
          GET YOUR <span class="purple_text power_text">IDEA</span> OUT THERE
        </h1>
        <h2>
          Have a presence. Be productive.
        </h2>
        <button class="call_to_action_button" (click)="learnMoreButton()">
          Learn more
        </button>
      </div>
    </div>
    <div class="right_side row align_right_text">
      <div class="col">
        <h3>
          Learning from your mistakes sounds like a cliché...
        </h3>
        <h2 class="under_border">
          But it doesn't mean it's not true!
        </h2>
      </div>
    </div>
    <div class="row center_side justify-content-center">
      <div class="col d-flex justify-content-center">
        <h2 class="list_of_words_flow">
          <div class="word space_word">
            Create.
          </div>
          <div class="word space_word">
            Fail.
          </div>
          <div class="word space_word">
            Try again. 
          </div>
          <div class="word">
            <span class="white_word">Be the best.</span>
          </div>
        </h2>
      </div>
    </div>
  </div>
  <div id="informationSection" class="information">
    <div class="row">
      <div class="col what_is_it">
        <h2>
          Productivera is all about ideas and networking
        </h2>
        <p class="information_text">
          You have an idea but you need partners, help or validation? Share it here so others
          can rate it and give feedbacks!
        </p>
        <p class="information_text">
          You can post your idea/business/expertise, or you can browse and see what others
          are up to and team up with them, give them your opinion and grow together.
        </p>
      </div>
    </div>
    <div class="row center_button justify-content-center">
      <button routerLink="/ideas" class="call_to_action_button">
        Explore ideas
      </button>
    </div>
  </div>
</div>