.call_to_action_button{
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 15px;
    padding-right: 25px;
    padding-left: 25px;
    font-size: 1.2em;
}

.call_to_action_button:hover{
    background-color: #BA1D4C;
}

.list_of_words_flow{
    color: rgb(122, 122, 122);
}

.landing_content{
    margin-right: 0 !important;
    margin-left: 0;
    width: 100% !important;
}

.row{
    width: 100% !important;
}

.power_text{
    font-family: 'Bangers', cursive;
}

h1{
    font-size: 5.5em;
}

h2{
    font-size: 3em;
}

.purple_text{
    color: #ca0065;
}

.left_side{
    margin-top: 8%;
    padding-left: 15%;
}

.right_side{
    margin-top: 5%;
    padding-right: 15%;
}

.center_side{
    margin-top: 8%;
}

.white_word{
    color: white;
}

.information{
    width: 70% !important;
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
}

.under_border{
    border-bottom: 5px solid #f8799f;
    display: inline-block;
}

.what_is_it{
    padding: 6%;
    background-color: rgba(255, 255, 255, 0.541);
}

.information_text{
    font-size: 1.1em;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

.how_it_works{
    margin-top: 5%;
}

.align_right_text{
    text-align: right;
}

.center_button{
    margin-top: 5%;
    margin-bottom: 5%;
}

.word{
    display: inline-block;
}

.space_word{
    margin-right: 5vw;
}

.idea-card {
    width: 30%;
    color: black;
    padding: 2%;
}

.idea-header-image {
    background-size: cover;
}

.mat-card-image{
    height: 180px; /* adjust as needed */
    object-fit: contain;
}

.mat-card-title{
    font-size: 16px;
}

.mat-card-subtitle{
    font-size: 12px;
}

.mat-card {
    margin: 2%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.671);
    font-family: "Montserrat", Sans-serif;
    box-shadow: 2px 3px 12px #222222;
}

.mat-card-header {
  flex-shrink: 0;
}

.mat-card-content{
  flex-grow: 1;
  overflow: auto;
}

.default_prof_pic{
    display: inline-block;
}

.categories-section{
    margin: 2%;
    margin-right: 0;
    margin-left: 0;
    padding: 2%;
    background-color: rgba(255, 255, 255, 0.445);
}

.category{
    margin: 1%;
}

.categories{
    color: rgb(99, 99, 99);
    display: inline-block;
    background-color: rgba(202, 202, 202, 0.596);
    margin: 1%;
    margin-left: 0;
}

.break_words{
    white-space: pre-line; 
    word-wrap: break-word;
}

.mat-card-subtitle{
    color: black;
}

a{
    color: rgb(0, 46, 116);
}

.little_text{
    font-size: 12px;
}

.right-arrow-image{
    max-width: 100px;
    opacity: 70%;
}

.right-arrow-image:hover{
    opacity: 100%;
}

.right_arrow_div{
    display: inline-block;
    padding: 2%;
    cursor: pointer;
}

.left-arrow-image{
    max-width: 100px;
    opacity: 70%;
}

.left-arrow-image:hover{
    opacity: 100%;
}

.left_arrow_div{
    display: inline-block;
    width: 80px;
    text-align: end;
    padding: 2%;
    cursor: pointer;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.row{
    width: 80% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

#mc_embed_signup{
    padding: 3%;
    width: 56% !important;
    color: black;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    background-color: rgba(255, 255, 255, 0.541) !important;
}

.newsletter_label{
    font-size: 3vw !important;
    margin-bottom: 2%;
}

.email{
    width: 50% !important;
    margin: 1% !important;
}

.subscr_button_div{
    margin: 1% !important;
}

.newMessageClass{
    padding: 2%;
    padding-left: 0;
}

.form-control{
    margin-top: 2%;
}

.new_button{
    color: white;
    border-color: #BA1D4C;
    background-color: #BA1D4C !important;
}

.new_button:hover{
    background-color: #97193f !important;
    border-color: #97193f;
}

.new_button:active{
    color: white;
    border-color: #BA1D4C !important;
    background-color: #BA1D4C !important;
}

.new_button:focus{
    box-shadow: none !important;
}

@media all and (max-width: 846px) {
    .right_side{
        text-align: left;
        margin-left: auto;
        margin-right: auto;
        padding: 10%;
        padding-top: 2%;
    }

    .left_side{
        text-align: left;
        margin-left: auto;
        margin-right: auto;
        padding: 10%;
        padding-top: 5%;
    }

    .center_side{
        margin-left: auto;
        margin-right: auto;
        padding: 10%;
        padding-top: 0;
    }

    h1{
        font-size: 14vw;
    }

    h2{
        font-size: 12vw;
    }

    .information{
        width: 100% !important;
    }

    .information .row{
        margin: 0;
    }

    .center_button{
        margin-top: 5% !important;
        margin-bottom: 7% !important;
    }
}

@media all and (max-width: 988px) {
    .row{
        width: 100% !important;
    }

    .left-arrow-image{
        max-width: 50px;
    }
    
    .left_arrow_div{
        max-width: 80px !important;
    }

    .right-arrow-image{
        max-width: 50px;
    }
    
    .right_arrow_div{
        max-width: 80px !important;
    }

    .idea-card {
        width: 40% !important;
        margin-left: auto;
        margin-right: auto;
    }
}

@media all and (max-width: 520px) {
    .idea-card {
        width: 70% !important;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .form-group{
        margin: 2%;
    }

    .left-arrow-image{
        max-width: 40px;
    }
    
    .left_arrow_div{
        max-width: 60px !important;
    }

    .right-arrow-image{
        max-width: 40px;
    }
    
    .right_arrow_div{
        max-width: 60px !important;
    }

    .mat-card-image{
        height: 120px; /* adjust as needed */
        object-fit: contain;
    }

    #mc_embed_signup{
        width: 100% !important;
        margin-bottom: 12%;
    }

    .newsletter_label{
        font-size: 5vw !important;
    }

    .email{
        width: 100% !important;
    }
}