<div class="whole_content">
  <mat-spinner *ngIf="!ideaList"></mat-spinner>
  <div *ngIf="ideaList" class="landing_content row vertical-align justify-content-center">
    <div class="left_arrow_div col" (click)="prevIdea()">
      <img *ngIf="counter>0" class="left-arrow-image"
      src="../../assets/img/left-arrow.png">
    </div>
    <mat-card class="idea-card break_words col" id="{{ currentIdea.id }}">
      <mat-card-header>
          <img mat-card-avatar class="idea-header-image"
          src="http://www.prodbackend.com/img/{{currentIdea.user.avatar}}">
          <mat-card-title>
            <a routerLink="/profile/{{currentIdea.user.id}}">
              {{ currentIdea.user.username }}
            </a>
          </mat-card-title>
          <mat-card-subtitle>{{ currentIdea.user.status }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="http://www.prodbackend.com/img/{{currentIdea.picture}}" alt="Photo of an idea">
      <mat-card-content>
        <h5>
          <a routerLink="/ideas/{{currentIdea.id}}">
            <b>{{ (currentIdea.title.length > 20) ? (currentIdea.title | slice:0:20) + '...' : (currentIdea.title) }}</b>
          </a>
        </h5>
        <p>
          {{ (currentIdea.description.length > 40) ? (currentIdea.description | slice:0:40) + '...' : (currentIdea.description) }}
        </p>
        <p class="categories" *ngFor="let category of currentIdea.categories">
          <a routerLink="/ideas/byCategory/{{category.name}}">
            {{ category.name }}&nbsp;
          </a>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a *ngIf="userId != currentIdea.user_id" mat-button href="#" (click)="openJoinRequest(currentIdea.id, $event)">JOIN</a>
        <form *ngIf="currentIdea.joinOpen" [formGroup]="newJoinForm" (ngSubmit)="onSubmit()" class="newMessageClass">
          <div class="form-group">
            <input type="text" formControlName="messageHeader" 
                  class="form-control" placeholder="Your expertise"
                  [ngClass]="{ 'is-invalid': submitted && f.messageHeader.errors }"/>
            <div *ngIf="submitted && f.messageHeader.errors" class="invalid-feedback">
              <div *ngIf="f.messageHeader.errors.required">Expertise can't be empty</div>
            </div>
            <textarea type="text" placeholder="Your message" 
              formControlName="messageText" id="messageText" rows="5" 
              class="form-control" [ngClass]="{ 'is-invalid': submitted && f.messageText.errors }"></textarea>
            <div *ngIf="submitted && f.messageText.errors" class="invalid-feedback">
              <div *ngIf="f.messageText.errors.required">The text can't be empty</div>
            </div>
          </div>
          <div *ngIf="tooManyCharHeader" class="text-danger">
            <div>The expertise must be less than 71 characters!</div>
          </div>
          <div *ngIf="tooManyCharBody" class="text-danger">
            <div>The body text must be less than 301 characters!</div>
          </div>
          <div class="form-group">
            <button class="btn new_button send_msg">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Send
            </button>
          </div>
        </form>
        <div *ngIf="sentMsg" class="text-success">
          <div>Join request sent! You will get a reply soon.</div>
        </div>
      </mat-card-actions>
      <p class="little_text">
        {{ currentIdea.created_at | date: 'yyyy-MM-dd HH:mm' }}
      </p>
    </mat-card>
    <div class="right_arrow_div col" (click)="nextIdea()">
      <img *ngIf="counter!=ideaList.length-1" class="right-arrow-image"
      src="../../assets/img/right-arrow.png">
    </div>
  </div>
  <!-- Begin Mailchimp Signup Form -->
  <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
  <style type="text/css">
    #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
    /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
      We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
  </style>
  <div id="mc_embed_signup">
    <form action="https://productivera.us17.list-manage.com/subscribe/post?u=a00d86108d60c23fcf62dfb19&amp;id=8b7d175ca7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
      <label class="newsletter_label" for="mce-EMAIL">Subscribe to our <span class="purple_text">newsletter</span> to get the latest ideas</label>
      <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="email address" required>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a00d86108d60c23fcf62dfb19_8b7d175ca7" tabindex="-1" value=""></div>
        <div class="clear subscr_button_div"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button subscr_button new_button"></div>
        </div>
    </form>
  </div>

  <!--End mc_embed_signup-->
  <div id="informationSection" class="information">
    <div class="row">
      <div class="col what_is_it">
        <h2>
          Productivera is all about ideas and networking
        </h2>
        <p class="information_text">
          You have an idea but you need partners, help or validation? Share it here so others
          can rate it and give feedbacks!
        </p>
        <p class="information_text">
          You can post your idea/business/expertise, or you can browse and see what others
          are up to and team up with them, give them your opinion and grow together.
        </p>
      </div>
    </div>
    <div class="row center_button justify-content-center">
      <button routerLink="/ideas" class="call_to_action_button">
        Explore ideas
      </button>
    </div>
  </div>
</div>